<% sections.each do |(section_key, section_name, section_description, configs)| %>
<h2 id="<%=section_key%>"><%=section_name%></h2>

<%= "<p>#{section_description}</p>" unless section_description.nil? %>

<dl class="clamshell-list">
  <% configs.each do |config|%>
  <!-- ********** <%= config[:key] %> ********** -->
  <dt id="<%= config[:key].gsub('.', '-') %>"><%=config[:key]%></dt>
  <dd>
  <table class="specs">
    <tbody>
      <tr>
        <th>Type</th>
        <td><%=config[:type]%></td>
      </tr>
      <tr>
        <th>Default</th>
        <td><%=config[:default]%></td>
      </tr>
      <tr>
        <th>Environ variable</th>
        <td><code><%=config[:env_var]%></code></td>
      </tr>
    </tbody>
  </table>

  <p><%=config[:description]%></p>
  </dd>
  <% end %>
</dl>
<% end %>
