<% sections.each do |(section_key, section_name, section_description, configs)| %>
## <%=section_name%>

<%= "#{section_description}" unless section_description.nil? %>

  <% configs.each do |config|%>
    <CollapserGroup>
      <Collapser id="<%= config[:key].gsub('.', '-') %>" title="<%=config[:key]%>">
      <table class="specs">
        <tbody>
          <tr>
            <th>Type</th>
            <td><%=config[:type]%></td>
          </tr>
          <tr>
            <th>Default</th>
            <td>`<%=config[:default]%>`</td>
          </tr>
          <tr>
            <th>Environ variable</th>
            <td><code><%=config[:env_var]%></code></td>
          </tr>
        </tbody>
      </table>

      <%=config[:description]%>
    </Collapser>
  <CollapserGroup>

  <% end %>
<% end %>
