<h2 id="<%= anchor %>"><%= title %></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Supported</th>
      <th>Deprecated</th>
      <th>Experimental</th>
    </tr>
  </thead>
  <tbody>
  <% for version in versions %>
    <tr>
      <td rowspan=<%= if version.notes; 2; else; 1; end %>><b><%= version.name %></b></td>
      <td><%= CGI.escapeHTML(version_list(version.supported)) %></td>
      <td><%= CGI.escapeHTML(version_list(version.deprecated)) %></td>
      <td><%= CGI.escapeHTML(version_list(version.experimental)) %></td>
    </tr>
    <% if version.notes %>
    <tr>
      <td colspan="3">
        <%= version.notes.join("<br />") %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
