<% sections.each do |(section_key, section_name, section_description, configs)| %>
## <%=section_name%>

<%= "#{section_description}" unless section_description.nil? %>

<CollapserGroup>
  <% configs.each do |config|%>
  <Collapser id="<%= config[:key].gsub('.', '-') %>" title="<%=config[:key]%>">
    <table>
      <tbody>
        <tr><th>Type</th><td><%=config[:type]%></td></tr>
        <tr><th>Default</th><td>`<%=config[:default]%>`</td></tr>
        <tr><th>Environ variable</th><td>`<%=config[:env_var]%>`</td></tr>
      </tbody>
    </table>

  <%=config[:description]%>
  </Collapser>
  <% end %>
</CollapserGroup>
<% end %>
