<div id="<%= dom_id agent %>">
  <p>
    <strong>Name:</strong>
    <%= agent.name %>
  </p>

  <p>
    <strong>Repository:</strong>
    <%= agent.repository %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= agent.language %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= agent.stars %>
  </p>

  <p>
    <strong>Forks:</strong>
    <%= agent.forks %>
  </p>

</div>
